#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-family: 'Red Hat Display', ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
